h1 {
    color: purple;
    font-size: 3em;
    margin: 20px;
    border: 3px purple dotted;
    padding: 15px;
}

.myclass{
  background-color: purple;
}

body{
  background-color: pink;
}
img{
  border: 10px purple dotted ;
  width: 250px;
  height: 250px;
}
li:hover{
  font-size: 40px;
  text decoration: underline;
}
li{
  transition: 0.3s ease;
}

ul{
  background-color:grey ;
}
ol{
  background-color: grey;
}
